django==5.0.6
black==24.4.2
natasha==1.6.0
psycopg==3.1.19
django-filter==24.2
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
Faker==25.2.0
tqdm==4.66.4
Levenshtein==0.25.1
nltk==3.8.1
gunicorn==22.0.0
pyenchant==3.2.2
django-ninja==1.1.0