<div class="modal fade" id="gramModal" tabindex="-1" role="dialog" aria-labelledby="gramModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gramModalLabel">Select Grammatical Features</h5>
        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div id="gramFeaturesContainer"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="selectGramFeatures()">OK</button>
        <button type="button" class="btn btn-link" onclick="clearGramFeatures()">Clear</button>
      </div>
    </div>
  </div>
</div>
<script>
  const gramFeatures = {
    'Animacy': [
      'Anim',
      'Inan'
    ],
    'Aspect': [
      'Imp',
      'Perf',
    ],
    'Case': [
      'Acc',
      'Dat',
      'Gen',
      'Ins',
      'Loc',
      'Nom',
      'Par',
      'Voc',
    ],
    'Degree': [
      'Cmp',
      'Pos',
      'Sup',
    ],
    'Foreign': [
      'Foreign',
    ],
    'Gender': [
      'Fem',
      'Masc',
      'Neut',
    ],
    'Hyph': [
      'Hyphen',
    ],
    'Mood': [
      'Cnd',
      'Imp',
      'Ind',
    ],
    'Number': [
      'Plur',
      'Sing',
    ],
    'Person': [
      '1',
      '2',
      '3',
    ],
    'Polarity': [
      'Neg',
    ],
    'Tense': [
      'Fut',
      'Past',
      'Pres',
    ],
    'Variant': [
      'Short',
    ],
    'VerbForm': [
      'Conv',
      'Fin',
      'Inf',
      'Part',
    ],
    'Voice': [
      'Act',
      'Mid',
      'Pass',
    ],
  }

  function generateGramCheckboxes() {
    const container = document.getElementById('gramFeaturesContainer');
    container.innerHTML = '';

    const row = document.createElement('div');
    row.className = 'row';

    for (const column in gramFeatures) {
      const col = document.createElement('div');
      col.className = 'col';

      const header = document.createElement('h6');
      header.innerText = column;
      col.appendChild(header);

      for (const feature of gramFeatures[column]) {
        const formCheck = document.createElement('div');
        formCheck.className = 'form-check';

        const input = document.createElement('input');
        input.className = 'form-check-input';
        input.type = 'checkbox';
        input.id = `gramFeature${feature}`;
        input.value = feature;
        formCheck.appendChild(input);

        const label = document.createElement('label');
        label.className = 'form-check-label';
        label.innerText = feature;
        label.htmlFor = `gramFeature${feature}`;
        formCheck.appendChild(label);

        col.appendChild(formCheck);
      }

      row.appendChild(col);
    }

    container.appendChild(row);
  }

  generateGramCheckboxes();

  function selectGramFeatures() {
    const selectedFeatures = [];
    $('input[type="checkbox"]:checked').each(function () {
      selectedFeatures.push($(this).val());
    });

    let gramInput = '';
    if (selectedFeatures.length === 1) {
      gramInput = selectedFeatures[0];
    } else if (selectedFeatures.length > 1) {
      gramInput = `(${selectedFeatures.join('|')})`;
    }

    $('#gram').val(gramInput);

    $('#gramModal').modal('hide');
  }

  function clearGramFeatures() {
    $('input[type="checkbox"]').prop('checked', false);
  }
</script>