<div class="modal fade" id="lexModal-{{ block_id }}" tabindex="-1" role="dialog" aria-labelledby="lexModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lexModalLabel-{{ block_id }}">Select Lexical Features</h5>
        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div id="lexFeaturesContainer-{{ block_id }}"></div>
      </div>
      <div class="modal-footer">
        <div class="me-auto">
          <button type="button" class="btn btn-link" onclick="clearLexFeatures('{{ block_id }}')">Clear</button>
        </div>
        <button type="button" class="btn btn-primary" onclick="selectLexFeatures('{{ block_id }}')">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<script>
  generateLexCheckboxes('{{ block_id }}');
</script>