.btn {
  border-radius: 5px;
  border: none;
  transition: all 0.1s ease;

  &:hover {
    transform: scale(1.02);
  }
}
.card-custom {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}
.form-control-custom {
  border-radius: 50px;
  border: 1px solid #ccc;
}

.form-control-custom:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
$white: #ffffff;

$theme-colors: (
    "light":      #c6dce2,
    "dark":       #171343,
    "primary":    #273d6f,
    "secondary": #a95b66,
    "info":       #c76d5e,
    "success":    #2f9c60,
    "warning":    #dfc931,
    "danger": #af2c40,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
