$white: #ffffff;

// Variables for the theme colors
$colors: (
        "light": #dbdfdf,
        "dark": #131424,
        "primary": #0e4363,
        "secondary": #097fb1,
        "info": #926015,
        "success": #17a76f,
        "warning": #e3cc07,
        "danger": #e74645,
);

// Transform the map of colors into CSS variables
:root {
  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
  }
}

$tooltip-max-width: 250px;
$tooltip-opacity: 0.8;
// Import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

/// Mixin for buttons
@mixin button-variant($color-name, $color-value) {
  .btn-#{$color-name} {
    background-color: $color-value;
    border-color: darken($color-value, 10%);
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($color-value, 5%);
      border-color: darken($color-value, 15%);
    }

    &:active,
    &.active, // add this for clicked state
    &:focus:active { // add this for focus and active states
      background-color: darken($color-value, 10%);
      border-color: darken($color-value, 20%);
    }
  }
}

// Application of the mixin for each color
@each $color, $value in $colors {
  @include button-variant($color, $value);
}

// General button styling
.btn {
  border-radius: 5px;
  transition: all 0.1s ease;

  &:hover {
    transform: scale(1.02);
  }
}
