.sentence {
  color: #000;
  margin: 0;
  padding: 0;
}

.correction {
  color: #808080;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.custom-nav-padding {
  padding: 0.5rem;
}

.custom-body-padding {
 padding-top: 40px;
}
