body {
  padding-top: 70px;
}

.sentence {
  margin: 0;
  padding: 0;
}

.correction {
  color: #7f7f7f;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 0.5rem;
}

.logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* 5. CSS styles for the color selector widget */
.colorselector-widget {
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.checkbox-widget {
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

.checkbox-widget input[type="checkbox"] {
  outline: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 4px;
}

.checkbox-widget label {
  cursor: pointer;
}

.r6o-annotation.true {
  background-color: rgb(20, 255, 67, .2);
  border-bottom: 2px dashed rgb(20, 255, 67);
}

.toggle-entry {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.second-entry-open .toggle-entry {
  transform: rotate(180deg);
}

.button-in-card {
  bottom: 1rem;
}

#darkModeSwitch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-edit {
  color: white;
  background-color: #1E90FF;
}

.btn-edit:hover,
.btn-edit:focus{
  color: white;
  background-color: #6495ED;
}

.logout-item:hover,
.logout-item:focus {
  background-color: red;
  color: #fff; 
  outline: none;
}

body[data-bs-theme="dark"] #darkModeSwitch {
  color: var(--bs-light);
  border-color: var(--bs-light);
}

body[data-bs-theme="dark"] #darkModeSwitch .fas.fa-moon {
  transform: rotate(25deg);
}


/* RecogitoJS annotator window dark theme */
body[data-bs-theme="dark"] .r6o-widget {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget .r6o-section {
  background-color: var(--bs-dark);
  border-bottom-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget .r6o-tag {
  background-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget .r6o-popover-footer {
  background-color: var(--bs-dark);
  border-top-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget .r6o-btn {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

body[data-bs-theme="dark"] .r6o-widget .r6o-btn:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  opacity: 0.8;
}

body[data-bs-theme="dark"] .r6o-footer {
  background-color: var(--bs-dark);
  border-top-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-editor-inner {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

body[data-bs-theme="dark"] .r6o-widget .r6o-editable-text {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget.r6o-tag input {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget .comment .editable {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
  border-color: var(--bs-secondary) !important;
}

body[data-bs-theme="dark"] .r6o-widget.comment.editable {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
  border-color: var(--bs-secondary) !important;
}

body[data-bs-theme="dark"] .r6o-widget .r6o-editable-text:focus {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget.comment .r6o-arrow-down {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}


body[data-bs-theme="dark"] .r6o-widget.comment .r6o-comment-dropdown-menu {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget.r6o-tag .r6o-autocomplete li {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

body[data-bs-theme="dark"] .r6o-widget.comment .r6o-comment-dropdown-menu li {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}
body[data-bs-theme="dark"] .r6o-widget.r6o-tag ul.r6o-taglist li {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

.dark-accordion[data-bs-theme="dark"] {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

.dark-accordion[data-bs-theme="dark"] .accordion-button {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

.dark-accordion[data-bs-theme="dark"] .accordion-button:hover {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

.dark-accordion[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

.dark-accordion[data-bs-theme="dark"] .accordion-collapse {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

.dark-accordion[data-bs-theme="dark"] .accordion-body {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  border-color: var(--bs-secondary);
}

/* Style the header */
#help_header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style the sidebar */
#sidebar {
  float: left;
  width: 210px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100;

}

/* Style the content */
#content {
  margin-left: 220px;
  padding: 20px;
}

/* Style the sections */
.section {
  margin-bottom: 40px;
}

/* Style the links in the sidebar */
#sidebar a {
  display: block;
  color: #000;
  padding: 10px;
  text-decoration: none;
}

/* Style the active link in the sidebar */
#sidebar .active a {
  background
