{% load i18n %}
<div class="container" data-block-id="{{ block_id }}">
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="form-group">


        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="sr-only" for="from-{{ block_id }}">
              <span class="input-group-text bg-secondary text-white">
                {% trans "From" %}
              </span>
            </label>
          </div>
          <input type="text" class="form-control" id="from-{{ block_id }}" placeholder="1" name="from[]" value="1">
          <div class="input-group-prepend">
            <label class="sr-only" for="to-{{ block_id }}">
              <span class="input-group-text bg-secondary text-white">
                {% trans "to" %}
              </span>
            </label>
          </div>
          <input type="text" class="form-control" id="to-{{ block_id }}" placeholder="1" name="to[]" value="1">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    {% include 'partials/lexgram/form_content_fixed.html' with show_delete_button="true" block_id=block_id %}
  </div>
</div>