<div class="modal fade" id="gramModal-{{ block_id }}" tabindex="-1" role="dialog"
     aria-labelledby="gramModalLabel-{{ block_id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gramModalLabel-{{ block_id }}">Select Grammatical Features</h5>
        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="modal-body">
        <div id="gramFeaturesContainer-{{ block_id }}"></div>
      </div>
      <div class="modal-footer">
        <div class="me-auto">
          <button type="button" class="btn btn-link" onclick="clearFeatures('{{ block_id }}', 'gram')">Clear</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="populateFeaturesTextBox('{{ block_id }}', 'gram')">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  generateGramCheckboxes('{{ block_id }}');
</script>