{% load i18n %}
<div class="row mb-3" data-block-id="{{ block_id }}">
  <div class="col-md-3">
    <div class="form-group">
      <label class="sr-only" for="from">{% trans "From_" %}</label>
      <label class="sr-only" for="to">{% trans "to_" %}</label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text bg-secondary text-white">{% trans "From_" %}</span>
        </div>
        <input type="text" class="form-control" id="from" placeholder="1" name="from[]" value="1">
        <div class="input-group-prepend">
          <span class="input-group-text bg-secondary text-white">{% trans "to_" %}</span>
        </div>
        <input type="text" class="form-control" id="to" placeholder="1" name="to[]" value="1">
      </div>
    </div>
  </div>

  <div class="row">
    {% include 'partials/lexgram/lexgram_form_content_based.html' %}
    <div class="col align-self-end">
      <button class="btn btn-danger delete-btn" onclick="removeContainer('{{ block_id }}')">
        <i class="fa-solid fa-minus"></i>
      </button>
    </div>
  </div>
</div>


<script>
  function removeContainer(blockId) {
    const container = document.querySelector('[data-block-id="' + blockId + '"]');
    container.remove();
  }
</script>
