{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post" id="add-document-form">
          {% csrf_token %}
          <h3 class="mb-3">Добавление документа</h3>
          <div class="alert alert-danger" role="alert"
               style="display: {% if form.non_field_errors %}block{% else %}none{% endif %};">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.genre.label_tag }}
                {{ form.genre }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.subcorpus.label_tag }}
                {{ form.subcorpus }}
              </div>
            </div>
          </div>
          <div class="form-group mb-2">
            {{ form.body.label_tag }}
            {{ form.body }}
          </div>
          <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
              <a class="nav-link active" id="add-author-tab" href="#" data-bs-toggle="tab"
                 data-bs-target="#author-fields">Новый автор</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="select-author-tab" href="#" data-bs-toggle="tab"
                 data-bs-target="#favorite-authors">Сохраненный автор</a>
            </li>
          </ul>
          <input type="hidden" id="author-selection-method" name="author_selection_method" value="manual">

          <div class="tab-content">
            {% include 'author_card.html' %}
            <div class="form-group tab-pane fade" id="favorite-authors">
              {{ favorite_author_form.selected_author.label_tag }}
              {{ favorite_author_form.selected_author }}
            </div>
          </div>

          <div class="form-group mb-4">
            {{ form.source.label_tag }}
            {{ form.source }}
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Добавить</button>
        </form>
      </div>
    </div>
  </div>
  <script>
  function disableFields(selector) {
    $(selector).find(':input').each(function () {
      $(this).prop('disabled', true);
    });
  }

  function enableFields(selector) {
    $(selector).find(':input').each(function () {
      $(this).prop('disabled', false);
    });
  }

  $(document).ready(function () {
    $("#add-author-tab").click(function () {
      $("#author-fields").addClass("active show");
      $("#favorite-authors").removeClass("active show");
      $("#add-author-tab").addClass("active");
      $("#select-author-tab").removeClass("active");
      $("#author-selection-method").val("manual");
      enableFields('#author-fields');
      disableFields('#favorite-authors');
    });

    $("#select-author-tab").click(function () {
      $("#author-fields").removeClass("active show");
      $("#favorite-authors").addClass("active show");
      $("#add-author-tab").removeClass("active");
      $("#select-author-tab").addClass("active");
      $("#author-selection-method").val("dropdown");
      enableFields('#favorite-authors');
      disableFields('#author-fields');
    });

    // Initially disable fields in the non-focused form
    disableFields('#favorite-authors');

    $("#add-document-form").submit(function (event) {
      // Check if the form is valid
      if (!this.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
    });

    {% if preselect_favorite_author %}
      $("#select-author-tab").click();
    {% endif %}
  });
</script>
{% endblock %}