{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post" id="add-document-form">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required maxlength="200">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="number" class="form-control" id="date" name="date" min="1" max="9999" step="1">
          </div>
          <div class="form-group">
            <label for="genre">Genre</label>
            <select class="form-control" id="genre" name="genre">
              <option value="answers">Ответы на вопросы</option>
              <option value="nonacademic">Неакадемическое эссе</option>
              <option value="academic">Академическое эссе</option>
              <option value="blog">Блог</option>
              <option value="letter">Письмо</option>
              <option value="story">История</option>
              <option value="paraphrase">Пересказ</option>
              <option value="definition">Определение</option>
              <option value="bio">Биография</option>
              <option value="description">Описание</option>
              <option value="summary">Краткое изложение</option>
              <option value="other">Другое</option>
            </select>
          </div>
          <div class="form-group">
            <label for="subcorpus">Subcorpus</label>
            <select class="form-control" id="subcorpus" name="subcorpus">
              <option value="HSE">HSE</option>
              <option value="UNICE">UNICE</option>
              <option value="RULEC">RULEC</option>
              <option value="FIN">FIN</option>
              <option value="BERLIN">BERLIN</option>
              <option value="TOKYO">TOKYO</option>
              <option value="SFEDU">SFEDU</option>
            </select>
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" name="body" rows="10" required></textarea>
          </div>


          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="add-author-tab" href="#">Add Author</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="select-author-tab" href="#">Select Favorite Author</a>
            </li>
          </ul>
          <input type="hidden" id="author-selection-method" name="author_selection_method" value="manual">

          <div class="form-group" id="favorite-authors" style="display: none;">
            <label for="selected_author">Favorite Authors</label>
            <select class="form-control" id="selected_author" name="selected_author">
              {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div id="author-fields">
            <div class="form-group">
              <label for="author-name">Name</label>
              <input type="text" class="form-control" id="author-name" name="author_name" maxlength="255">
            </div>
            <div class="form-group">
              <label for="author-gender">Gender</label>
              <select class="form-control" id="author-gender" name="author_gender" required>
                <option value="M">Мужской</option>
                <option value="F">Женский</option>
                <option value="O">Неизвестно</option>
              </select>
            </div>
            <div class="form-group">
              <label for="author-program">Program</label>
              <input type="text" class="form-control" id="author-program" name="author_program" maxlength="255">
            </div>
            <div class="form-group">
              <label for="author-language-background">Language Background</label>
              <select class="form-control" id="author-language-background" name="author_language_background" required>
                <option value="H">Эритажный</option>
                <option value="F">Иностранный</option>
              </select>
            </div>
            <div class="form-group">
              <label for="author-dominant-language">Dominant Language</label>
              <select class="form-control" id="author-dominant-language" name="author_dominant_language" required>
                <option value="abk">Abkhaz</option>
                <option value="alb">Albanian</option>
                <option value="amh">Amharic</option>
                <option value="ara">Arabic</option>
                <option value="arm">Armenian</option>
                <option value="aze">Azerbaijani</option>
                <option value="ben">Bengali</option>
                <option value="bul">Bulgarian</option>
                <option value="chi">Chinese</option>
                <option value="cro">Croatian</option>
                <option value="sho">Czech</option>
                <option value="dag">Dagestanian</option>
                <option value="dar">Dari</option>
                <option value="dut">Dutch</option>
                <option value="eng">English</option>
                <option value="est">Estonian</option>
                <option value="far">Farsi</option>
                <option value="fin">Finnish</option>
                <option value="fr">French</option>
                <option value="geo">Georgian</option>
                <option value="ger">German</option>
                <option value="gre">Greek</option>
                <option value="heb">Hebrew</option>
                <option value="hin">Hindi</option>
                <option value="hun">Hungarian</option>
                <option value="ind">Indonesian</option>
                <option value="ita">Italian</option>
                <option value="jap">Japanese</option>
                <option value="kaz">Kazakh</option>
                <option value="khm">Khmer</option>
                <option value="kor">Korean</option>
                <option value="kur">Kurdish</option>
                <option value="lao">Lao</option>
                <option value="mac">Macedonian</option>
                <option value="mon">Mongolian</option>
                <option value="nep">Nepali</option>
                <option value="nor">Norwegian</option>
                <option value="pas">Pashto</option>
                <option value="por">Portuguese</option>
                <option value="rom">Romanian</option>
                <option value="ser">Serbian</option>
                <option value="sho">Shona</option>
                <option value="svk">Slovak</option>
                <option value="slo">Slovene</option>
                <option value="spa">Spanish</option>
                <option value="swe">Swedish</option>
                <option value="taj">Tajik</option>
                <option value="tha">Thai</option>
                <option value="tur">Turkish</option>
                <option value="turkmen">Turkmen</option>
                <option value="urd">Urdu</option>
                <option value="uzb">Uzbek</option>
                <option value="vie">Vietnamese</option>
              </select>
            </div>
            <div class="form-group">
              <label for="author-language-level">Language Level</label>
              <select class="form-control" id="author-language-level" name="author_language_level" required>
                <optgroup label="Beginner">
                  <option value="NL">Novice Low</option>
                  <option value="NM">Novice Middle</option>
                  <option value="NH">Novice High</option>
                  <option value="A1">A1</option>
                  <option value="A2">A2</option>
                </optgroup>
                <optgroup label="Intermediate">
                  <option value="IL">Intermediate Low</option>
                  <option value="IM">Intermediate Middle</option>
                  <option value="IH">Intermediate High</option>
                  <option value="B1">B1</option>
                  <option value="B2">B2</option>
                </optgroup>
                <optgroup label="Advanced">
                  <option value="AL">Advanced Low</option>
                  <option value="AM">Advanced Middle</option>
                  <option value="AH">Advanced High</option>
                  <option value="C1">C1</option>
                  <option value="C2">C2</option>
                </optgroup>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="add-to-favorites" name="add_to_favorites">
              <label class="form-check-label" for="add-to-favorites">Add to Favorites</label>
            </div>
          </div>
          <div class="form-group">
            <label for="source">Source</label>
            <input type="text" class="form-control" id="source" name="source" required maxlength="1000">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#add-author-tab").click(function () {
        $("#author-fields").show();
        $("#favorite-authors").hide();
        $("#add-author-tab").addClass("active");
        $("#select-author-tab").removeClass("active");
        $("#author-selection-method").val("manual");
      });

      $("#select-author-tab").click(function () {
        $("#author-fields").hide();
        $("#favorite-authors").show();
        $("#add-author-tab").removeClass("active");
        $("#select-author-tab").addClass("active");
        $("#author-selection-method").val("dropdown");
      });
    });
  </script>

{% endblock %}