{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}



  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post" id="add-document-form">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Название</label>
                <input type="text" class="form-control" id="title" name="title" required maxlength="200">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="date">Год написания</label>
                <input type="number" class="form-control" id="date" name="date" min="1" max="9999" step="1">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="genre">Жанр</label>
                <select class="form-select" id="genre" name="genre">
                  <option value="answers">Ответы на вопросы</option>
                  <option value="nonacademic">Неакадемическое эссе</option>
                  <option value="academic">Академическое эссе</option>
                  <option value="blog">Блог</option>
                  <option value="letter">Письмо</option>
                  <option value="story">История</option>
                  <option value="paraphrase">Пересказ</option>
                  <option value="definition">Определение</option>
                  <option value="bio">Биография</option>
                  <option value="description">Описание</option>
                  <option value="summary">Краткое изложение</option>
                  <option value="other">Другое</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="subcorpus">Подкорпус</label>
                <select class="form-select" id="subcorpus" name="subcorpus">
                  <option value="HSE">HSE</option>
                  <option value="UNICE">UNICE</option>
                  <option value="RULEC">RULEC</option>
                  <option value="FIN">FIN</option>
                  <option value="BERLIN">BERLIN</option>
                  <option value="TOKYO">TOKYO</option>
                  <option value="SFEDU">SFEDU</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="body">Текст</label>
            <textarea class="form-control" id="body" name="body" rows="10" required></textarea>
          </div>
          <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
              <a class="nav-link active" id="add-author-tab" href="#" data-bs-toggle="tab"
                 data-bs-target="#author-fields">Новый автор</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="select-author-tab" href="#" data-bs-toggle="tab"
                 data-bs-target="#favorite-authors">Сохраненный автор</a>
            </li>
          </ul>
          <input type="hidden" id="author-selection-method" name="author_selection_method" value="manual">

          <div class="tab-content">
            <div id="author-fields" class="tab-pane fade show active">
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author-name">Имя</label>
                    <input type="text" class="form-control" id="author-name" name="author_name" maxlength="255">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author-gender">Пол</label>
                    <select class="form-select" id="author-gender" name="author_gender" required>
                      <option value="M">Мужской</option>
                      <option value="F">Женский</option>
                      <option value="O">Неизвестно</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author-program">Программа</label>
                    <input type="text" class="form-control" id="author-program" name="author_program" maxlength="255">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author-language-background">Статус носителя</label>
                    <select class="form-select" id="author-language-background" name="author_language_background"
                            required>
                      <option value="H">Эритажный</option>
                      <option value="F">Иностранный</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author-dominant-language">Основной язык</label>
                    <select class="form-select" id="author-dominant-language" name="author_dominant_language" required>
                      <option value="abk">Абхазский</option>
                      <option value="aze">Азербайджанский</option>
                      <option value="alb">Албанский</option>
                      <option value="amh">Амхарский</option>
                      <option value="eng">Английский</option>
                      <option value="ara">Арабский</option>
                      <option value="arm">Армянский</option>
                      <option value="ben">Бенгальский</option>
                      <option value="bul">Болгарский</option>
                      <option value="hun">Венгерский</option>
                      <option value="vie">Вьетнамский</option>
                      <option value="dut">Голландский</option>
                      <option value="gre">Греческий</option>
                      <option value="geo">Грузинский</option>
                      <option value="dag">Дагестанский</option>
                      <option value="dar">Дари</option>
                      <option value="heb">Иврит</option>
                      <option value="ind">Индонезийский</option>
                      <option value="spa">Испанский</option>
                      <option value="ita">Итальянский</option>
                      <option value="kaz">Казахский</option>
                      <option value="chi">Китайский</option>
                      <option value="kor">Корейский</option>
                      <option value="kur">Курдский</option>
                      <option value="khm">Кхмерский</option>
                      <option value="lao">Лаосский</option>
                      <option value="mac">Македонский</option>
                      <option value="mon">Монгольский</option>
                      <option value="ger">Немецкий</option>
                      <option value="nep">Непальский</option>
                      <option value="nor">Норвежский</option>
                      <option value="por">Португальский</option>
                      <option value="pas">Пушту</option>
                      <option value="rom">Румынский</option>
                      <option value="ser">Сербский</option>
                      <option value="svk">Словацкий</option>
                      <option value="slo">Словенский</option>
                      <option value="taj">Таджикский</option>
                      <option value="tha">Тайский</option>
                      <option value="tur">Турецкий</option>
                      <option value="turkmen">Туркменский</option>
                      <option value="uzb">Узбекский</option>
                      <option value="urd">Урду</option>
                      <option value="far">Фарси</option>
                      <option value="fin">Финский</option>
                      <option value="fr">Французский</option>
                      <option value="hin">Хинди</option>
                      <option value="cro">Хорватский</option>
                      <option value="sho">Чешский</option>
                      <option value="swe">Шведский</option>
                      <option value="sho">Шона</option>
                      <option value="est">Эстонский</option>
                      <option value="jap">Японский</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author-language-level">Уровень владения языком</label>
                    <select class="form-select" id="author-language-level" name="author_language_level" required>
                      <optgroup label="Beginner">
                        <option value="NL">Novice Low</option>
                        <option value="NM">Novice Middle</option>
                        <option value="NH">Novice High</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                      </optgroup>
                      <optgroup label="Intermediate">
                        <option value="IL">Intermediate Low</option>
                        <option value="IM">Intermediate Middle</option>
                        <option value="IH">Intermediate High</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                      </optgroup>
                      <optgroup label="Advanced">
                        <option value="AL">Advanced Low</option>
                        <option value="AM">Advanced Middle</option>
                        <option value="AH">Advanced High</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                      </optgroup>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="add-to-favorites" name="add_to_favorites">
                <label class="form-check-label" for="add-to-favorites">Добавить в избранные</label>
              </div>
            </div>
            <div class="form-group tab-pane fade" id="favorite-authors" style="display: none;">
              <label for="selected_author">Сохраненные авторы</label>
              <select class="form-select" id="selected_author" name="selected_author">
                {% for author in authors %}
                  <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>


          <div class="form-group mb-4">
            <label for="source">Источник</label>
            <input type="text" class="form-control" id="source" name="source" required maxlength="1000">
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Добавить документ</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#add-author-tab").click(function () {
        $("#author-fields").show();
        $("#favorite-authors").hide();
        $("#add-author-tab").addClass("active");
        $("#select-author-tab").removeClass("active");
        $("#author-selection-method").val("manual");
      });

      $("#select-author-tab").click(function () {
        $("#author-fields").hide();
        $("#favorite-authors").show();
        $("#add-author-tab").removeClass("active");
        $("#select-author-tab").addClass("active");
        $("#author-selection-method").val("dropdown");
      });
    });
  </script>

{% endblock %}