{% extends "base.html" %}
{% load static %}
{% block title %}{{ document.title }}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ document.title }}</h5>
            {% for sentence in sentences %}
              <div class="card mb-2" style="max-width: 100%;" data-card-id="{{ sentence.id }}">
                <div class="card-body position-relative pb-4" id="sentence-card-{{ sentence.id }}">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div id="sentence-{{ sentence.id }}" data-sentence-id="{{ sentence.id }}"
                           data-document-id="{{ document.id }}" data-user-id="{{ user.id }}" data-alt="false"
                           class="sentence">
                        {{ sentence.text }}
                      </div>
                      <div id="correction-{{ correction.id }}" data-alt="false" class="correction">
                        {{ sentence.correction }}
                      </div>
                    </li>
                    <li class="list-group-item second-entry" style="display:none;">
                      <div id="alt-sentence-{{ sentence.id }}" data-sentence-id="{{ sentence.id }}"
                           data-document-id="{{ document.id }}" data-user-id="{{ user.id }}" data-alt="true"
                           class="sentence">
                        {{ sentence.text }}
                      </div>
                      <div id="alt-correction-{{ correction.id }}" data-alt="true" class="correction">
                        {{ sentence.alt_correction }}
                      </div>
                    </li>
                  </ul>
                  <div class="position-absolute bottom-0 end-0 mb-4">
                    <button class="btn btn-sm btn-secondary toggle-entry" data-target-card="{{ sentence.id }}">
                      <i class="arrow-icon fas fa-chevron-down" data-target-card="{{ sentence.id }}"></i>
                    </button>
                  </div>

                </div>
              </div>
              <div id="recogito-{{ sentence.id }}" class="recogito"></div>
            {% endfor %}
            <p class="card-text"><small class="text-muted">{{ document.created_on }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".toggle-entry").click(function () {
      var targetCardId = $(this).data("target-card");
      var targetCard = $('div[data-card-id="' + targetCardId + '"]');

      $(".second-entry").not(targetCard.find(".second-entry")).slideUp("slow");
      $(".card-body").not(targetCard).removeClass("second-entry-open");

      targetCard.find(".second-entry").slideToggle(300);
      targetCard.toggleClass("second-entry-open");
    });
    document.addEventListener('DOMContentLoaded', initRecogito);
  </script>
{% endblock %}