{% extends "base.html" %}
{% load static %}
{% block title %}{{ document.title }}{% endblock %}
{% load i18n %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">

              <div class="form-group mb-0">
                <label for="document-status" class="me-2">{% trans "Document status" %}</label>
                <select class="form-select form-select-sm d-inline-block" id="document-status" style="width: auto;">
                  <option value="0" {% if document.status == 0 %}selected{% endif %}>{% trans "Not annotated" %}</option>
                  <option value="1" {% if document.status == 1 %}selected{% endif %}>{% trans "Annotated" %}</option>
                  <option value="2" {% if document.status == 2 %}selected{% endif %}>{% trans "Checked" %}</option>
                </select>
              </div>
            </div>
            {% include 'document_card.html' with annotate_view=True %}
            {% for sentence in sentences %}
              {% include 'sentence_card.html' with sentence=sentence %}
            {% endfor %}
            <p class="card-text"><small class="text-muted">{{ document.created_on }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#document-status").change(function () {
      var status = $(this).val();
      var documentId = "{{ document.id }}";
      var csrfToken = getCSRFToken();

      $.ajax({
        url: "{% url 'update_document_status' document.id %}",
        method: "POST",
        data: {
          'status': status,
          'csrfmiddlewaretoken': csrfToken,
        },
        success: function (data) {
          if (data.status === 'success') {
            console.log("Document status updated successfully.");
            // reload the page
            location.reload();
          } else {
            console.error("Error updating document status.");
          }
        },
        error: function () {
          console.error("Error updating document status.");
        }
      });
    });

    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    function updateCorrections(sentenceId) {
      const url = `/api/get_corrections/${sentenceId}`;

      $.ajax({
        type: "GET",
        url: url,
        success: function (response) {
          // Update the correction and alt_correction fields on the page
          const correction = response.correction;
          const altCorrection = response.alt_correction;

          $(`#correction-${sentenceId}`).text(correction);
          $(`#alt-correction-${sentenceId}`).text(altCorrection);
        },
        error: function (xhr, status, error) {
          console.error("Error updating corrections:", error);
        }
      });
    }

    function refreshCorrections() {
      {% for sentence in sentences %}
        updateCorrections({{ sentence.id }});
      {% endfor %}
    }

    document.addEventListener('DOMContentLoaded', initRecogito);
  </script>
{% endblock %}