{% load static %}
<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/recogito.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/comment_widget.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/recogito.min.js' %}"></script>
  <script src="{% static 'js/annotator-utils.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body class="custom-body-padding" data-bs-theme="dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav-padding">
  <a class="navbar-brand" href="#">Site Title</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Language Switcher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admin Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Annotate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>