{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
  <script src="{% static "js/ckeditor5-build-classic/ckeditor.js" %}"></script>
  {% if LANGUAGE_CODE == 'ru' %}
    <script src="{% static "js/ckeditor5-build-classic/translations/ru.js" %}"></script>
  {% else %}
    <script src="{% static "js/ckeditor5-build-classic/translations/en.js" %}"></script>
  {% endif %}
  <h1>{% trans "Create article" %}</h1>
  <!-- Check if form contains any errors -->
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        <!-- Iterate over the form.errors dict -->
        {% for field, errors in form.errors.items %}
          <!-- Iterate over the list of errors in the current field -->
          {% for error in errors %}
            <li><strong>{{ field }}:</strong> {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    {{ form.owner }}
    <p>
      <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label><br>
      {{ form.date }}
    </p>
    <p>
      <label for="editor-rus">{% trans "Text in Russian:" %}</label><br>
      <textarea name="text_rus" id="editor-rus"></textarea>
    </p>
    <p>
      <label for="editor-eng">{% trans "Text in English:" %}</label><br>
      <textarea name="text_eng" id="editor-eng"></textarea>
    </p>
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
  </form>

  <script>
    ClassicEditor
        .create(document.querySelector('#editor-rus'), {
          language: '{{ LANGUAGE_CODE }}'
        })
        .catch(error => {
          console.error(error);
        });
    ClassicEditor
        .create(document.querySelector('#editor-eng'), {
          language: '{{ LANGUAGE_CODE }}'
        })
        .catch(error => {
          console.error(error);
        });
  </script>
{% endblock content %}