{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load templatetags %}

{% block title %}
  {% trans "Documents" %}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        {% if user.is_authenticated %}
          <a href="{% url 'add_document' %}" class="btn btn-primary mb-4">
            <i class="bi bi-plus-lg"></i>
            {% trans "Create document" %}
          </a>
        {% endif %}
        <a href="{% url 'export_documents' %}?{{ request.GET.urlencode }}" class="btn btn-secondary mb-4">
          <i class="bi bi-download"></i>
          {% trans "Export Found Documents" %}
        </a>
        <form method="get" class="mb-4">
          <div class="row">
            <div class="col-md-4">
              {{ filter.form.author|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.author__language_background|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.author__dominant_language|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              {{ filter.form.date|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.genre|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.subcorpus|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.language_level|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              {{ filter.form.user|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.annotator|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.status|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              {{ filter.form.title|as_crispy_field }}
            </div>
            <div class="col-md-5">
              {{ filter.form.body|as_crispy_field }}
            </div>
            <div class="col-md-2">
              {{ filter.form.id|as_crispy_field }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="bi bi-filter"></i> {% trans "Filter" %}</button>
        </form>
        <script>
          $(document).ready(function () {
            // Function to toggle the visibility of elements with class "id-style"
            function toggleIdsVisibility() {
              $('.id-style').toggle();
            }

            // Event listener to handle button click
            $('#hideIdsButton').click(function (event) {
              event.preventDefault(); // Prevent default form submission behavior

              toggleIdsVisibility();

              const currentText = $('#buttonText').text();
              const buttonIcon = $('#buttonIcon');

              if (currentText === '{% trans "Hide IDs" %}') {
                $('#buttonText').text('{% trans "Show IDs" %}');
                buttonIcon.removeClass('bi-eye-slash').addClass('bi-eye');
                $(this).removeClass('btn-primary').addClass('btn-secondary');
                // Save the state to localStorage when hiding IDs
                localStorage.setItem('hideIdsStatus', 'hidden');
              } else {
                $('#buttonText').text('{% trans "Hide IDs" %}');
                buttonIcon.removeClass('bi-eye').addClass('bi-eye-slash');
                $(this).removeClass('btn-secondary').addClass('btn-primary');
                // Save the state to localStorage when showing IDs
                localStorage.setItem('hideIdsStatus', 'shown');
              }
            });

            // Function to apply saved visibility state on page load
            function applySavedVisibilityState() {
              const status = localStorage.getItem('hideIdsStatus');

              if (status === 'hidden') {
                toggleIdsVisibility();
                $('#buttonText').text('{% trans "Show IDs" %}');
                $('#buttonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
                $('#hideIdsButton').removeClass('btn-primary').addClass('btn-secondary');
              }
              // No need to handle the 'shown' state, as elements with class "id-style" are shown by default
            }

            // Call the function to apply the saved state on page load
            applySavedVisibilityState();
          });
        </script>
        <script>
          $(document).ready(function () {
            $('#hideIdsButton').click(function () {
              $('.id-style').toggleClass('hide');
            });
          });
        </script>

        <button id="hideIdsButton" class="btn btn-primary mb-3" data-trans="{% trans 'Hide IDs' %}">
          <i id="buttonIcon" class="bi bi-eye-slash"></i>
          <span id="buttonText">{% trans 'Hide IDs' %}</span>
        </button>


        {% for document in documents %}
          {% include 'partials/document/document_card.html' %}
        {% endfor %}

        {% paginator documents request %}
      </div>
    </div>
  </div>
{% endblock %}
