{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load templatetags %}
{% block title %}{% trans "Documents" %}{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        {% if user.is_authenticated %}
          <a href="{% url 'add_document' %}" class="btn btn-primary mb-4">
            <i class="fa fa-plus"></i>
            {% trans "Create document" %}
          </a>
        {% endif %}
        <a href="{% url 'export_documents' %}?{{ request.GET.urlencode }}" class="btn btn-secondary mb-4">
          <i class="fa fa-file-export"></i>
          {% trans "Export Found Documents" %}
        </a>
        <form method="get" class="mb-4">
          <div class="row">
            <div class="col-md-4">
              {{ filter.form.author|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.author__language_background|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.author__dominant_language|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              {{ filter.form.date|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.genre|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.subcorpus|as_crispy_field }}
            </div>
            <div class="col-md-3">
              {{ filter.form.language_level|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              {{ filter.form.user|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.annotator|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {{ filter.form.status|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              {{ filter.form.title|as_crispy_field }}
            </div>
            <div class="col-md-5">
              {{ filter.form.body|as_crispy_field }}
            </div>
            <div class="col-md-2">
              {{ filter.form.id|as_crispy_field }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> {% trans "Filter" %}</button>
        </form>
        <script>
          $(document).ready(function () {
            const buttonText = $('#hideIdsButton').attr('data-trans');

            // Перевод текста кнопки
            $('#hideIdsButton').text(buttonText);

            // Обработка нажатия на кнопку
            $('#hideIdsButton').click(function () {
              $('.id-style').toggle();
              const currentText = $(this).text();
              const buttonIcon = $('#buttonIcon');

              if (currentText === buttonText) {
                $(this).text('{% trans "Show IDs" %}');
                buttonIcon.removeClass('fa-eye-slash').addClass('fa-eye');
                $(this).removeClass('btn-primary').addClass('btn-secondary');
              } else {
                $(this).text(buttonText);
                buttonIcon.removeClass('fa-eye').addClass('fa-eye-slash');
                $(this).removeClass('btn-secondary').addClass('btn-primary');
              }
            });
          });
        </script>
        <script>
          $(document).ready(function () {
            $('#hideIdsButton').click(function () {
              $('.id-style').toggleClass('hide');
            });
          });
        </script>

        <button id="hideIdsButton" class="btn btn-primary mb-3" data-trans="{% trans 'Hide IDs' %}">
          <i id="buttonIcon" class="fa fa-eye-slash"></i>
          <span id="buttonText">{% trans 'Hide IDs' %}</span>
        </button>

        {% for document in documents %}
          {% include 'document_card.html' %}
        {% endfor %}

        {% paginator documents request %}
      </div>
    </div>
  </div>
{% endblock %}
