{% extends 'base.html' %}
{% block title %}Документы{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <a href="{% url 'add_document' %}" class="btn btn-primary mb-4">
          <i class="fa fa-plus"></i>
          Создать документ
        </a>
        {% for document in documents %}
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ document.title }}</h5>
              <p class="card-text">{{ document.body }}</p>
              <p class="card-text"><small class="text-muted">{{ document.pub_date }}</small></p>
              <a href="{% url 'annotate' document.id %}" class="btn btn-primary">Аннотировать</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}