{% load templatetags %}
<div class="card mb-3">
  <div class="card-body">
    <!-- Accordion -->
    <div class="accordion accordion-flush mb-2" id="detailsAccordion{{ document.id }}">
      <div class="accordion-item">
        <h2 class="accordion-header" id="detailsAccordionHeading{{ document.id }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#detailsAccordionCollapse{{ document.id }}" aria-expanded="false"
            aria-controls="detailsAccordionCollapse">
            {% if title_query %}
            <h5 class="card-title">{{ document.title|highlight_search:title_query }}</h5>
            {% else %}
            <h5 class="card-title">{{ document.title }}</h5>
            {% endif %}
          </button>
        </h2>
        <div id="detailsAccordionCollapse{{ document.id }}" class="accordion-collapse collapse"
          aria-labelledby="detailsAccordionHeading{{ document.id }}">
          <div class="accordion-body">
            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <h5 class="card-title">Документ</h5>

                  <dt>Добавлено:</dt>
                  <dd>{{ document.created_on }}</dd>

                  <dt>Жанр:</dt>
                  <dd>{{ document.get_genre_display }}</dd>

                  <dt>Подкорпус:</dt>
                  <dd>{{ document.get_subcorpus_display }}</dd>

                  <dt>Источник:</dt>
                  <dd>{{ document.source }}</dd>

                  <dt>Статус:</dt>
                  <dd>{{ document.get_status_display }}</dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <h5 class="card-title">Автор</h5>

                  <dt>Имя:</dt>
                  <dd>{{ document.author.name }}</dd>

                  <dt>Пол:</dt>
                  <dd>{{ document.author.get_gender_display }}</dd>

                  <dt>Родной язык:</dt>
                  <dd>{{ document.author.get_dominant_language_display }}</dd>

                  <dt>Уровень языка:</dt>
                  <dd>{{ document.author.get_language_level_display }}</dd>

                  <dt>Тип носителя:</dt>
                  <dd>{{ document.author.get_language_background_display }}</dd>

                  <dt>Программа:</dt>
                  <dd>{{ document.author.program }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Accordion -->
    {% if body_query %}
    <p class="card-text">{{ document.body|highlight_search:body_query }}</p>
    {% else %}
    <p class="card-text">{{ document.body }}</p>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-between">
      <a href="{% url 'annotate' document.id %}" class="btn btn-primary">Аннотировать</a>
      <div>
        <a href="#" class="btn btn-secondary border-0 shadow-none doc-card-btn">
          <i class="fas fa-edit"></i>
        </a>
        <a href="#" class="btn btn-secondary border-0 shadow-none doc-card-btn">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>