{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post" id="add-document-form">
          {% csrf_token %}
          <h3 class="mb-3">Редактирование документа</h3>
          <div class="alert alert-danger" role="alert"
               style="display: {% if form.non_field_errors %}block{% else %}none{% endif %};">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.genre.label_tag }}
                {{ form.genre }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.subcorpus.label_tag }}
                {{ form.subcorpus }}
              </div>
            </div>
          </div>
          <div class="form-group mb-2">
            {{ form.body.label_tag }}
            {{ form.body }}
          </div>
          <div class="form-group">
            {{ favorite_author_form.selected_author.label_tag }}
            {{ favorite_author_form.selected_author }}
          </div>
          <div class="form-group mb-4">
            {{ form.source.label_tag }}
            {{ form.source }}
          </div>

          <dl class="row">
            <dt class="col-sm-4">Автор:</dt>
            <dd class="col-sm-8">{{ document.author.name }}</dd>

            <dt class="col-sm-4">Пол:</dt>
            <dd class="col-sm-8">{{ document.author.get_gender_display }}</dd>

            <dt class="col-sm-4">Родной язык:</dt>
            <dd class="col-sm-8">{{ document.author.get_dominant_language_display }}</dd>

            <dt class="col-sm-4">Уровень языка:</dt>
            <dd class="col-sm-8">{{ document.author.get_language_level_display }}</dd>

            <dt class="col-sm-4">Тип носителя:</dt>
            <dd class="col-sm-8">{{ document.author.get_language_background_display }}</dd>

            <dt class="col-sm-4">Программа:</dt>
            <dd class="col-sm-8">{{ document.author.program }}</dd>
          </dl>

          <p>
            <a href="{% url 'edit_author' author_id=document.author.id document_id=document.id %}">Редактировать
              автора</a>
          </p>
          <button type="submit" class="btn btn-lg btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}