{% extends 'sidebar_base.html' %}

{% load i18n %}

{% block content %}
  {% load templatetags %}
  <style>
    .nav-link {
      color: white !important;
    }

    #menu .nav.flex-column.ms-1 li {
      visibility: hidden;
      position: relative;
    }

    #menu .nav.flex-column.ms-1 li:before {
      content: '\2022';
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      visibility: visible;
    }

    .arrow {
      font-size: 0.8em;
      color: #ccc; /* Light grey */
    }
  </style>

  <div class="container-fluid">
    <main class="row flex-nowrap">
      <
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark fixed-sidebar">
        <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sticky-sidebar">

          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">menu</span>
          </a>
          <p class="h3">Помощь</p>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span
                  class="ms-1 d-none d-sm-inline">Что такое русский учебный корпус?</span>
              </a>
            </li>
            <li>
              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Как искать?</span> <span
                  class="arrow" style="font-size: smaller;">&#9660;</span></a>
              <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">

                <li class="w-100">
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Как найти словоформу?</span> </a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Что такое лексико-грамматический поиск?</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Расстояние между словами</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Классификация ошибок</span>
                <span class="arrow" style="font-size: smaller;">&#9660;</span></a>
              <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Орфография</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Морфологические ошибки</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Синтаксические ошибки</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ошибки в конструкциях</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Лексические ошибки</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Дополнительные пометы</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Как размечать?</span> <span
                  class="arrow" style="font-size: smaller;">&#9660;</span></a>
              <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Начало работы</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Окно разметки</span></a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Разметка</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <hr>

        </div>
      </div>
    </main>
    >
    <main class="col py-4" style="margin-left: 300px; margin-right: 150px;">
      <div class="border rounded p-3 mb-4">
      <h1>Что такое русский учебный корпус?</h1>
      В Русском учебном корпусе содержатся образцы устной и письменной речи двух категорий нестандартных говорящих на
      русском языке: изучающих русский язык как иностранный и так называемых эритажных говорящих. Для первой категории
      русский язык не является родным, представители же второй категории начали усваивать его в детстве как первый язык,
      но по разным причинам (в основном, это эмиграция) в качестве основного языка общения используют другой язык.
      Корпус позволяет производить поиск по лексико-грамматическим свойствам, а также по самым разным типам отклонений
      от стандартной русской речи - от орфографических ошибок до выбора лексических единиц и конструкций.
      Лингвистический анализ и разметка осуществляются членами Лаборатории по корпусным исследованиям НИУ ВШЭ под
      руководством Екатерины Рахилиной.
      </div>
      <div class="border rounded p-3 mb-4">
      <h1>Как искать?</h1>
      <h3>Как найти словоформу в корпусе?</h3>
      <h3>тут фото</h3>
      <h3>Что такое лексико-грамматический поиск?</h3>


      Лексико-грамматический поиск позволяет искать все вхождения лексемы, вхождения лексемы в нужной грамматической
      форме, необходимые тэги ошибок, а так же позволяет искать сочетания нескольких слов.

      Чтобы найти все вхождения конкретной лексемы в корпус, на странице поиска в зоне «Лексико-грамматический поиск»
      в поле «Словоформа» наберите нужное слово и щелкните на кнопке «Поиск» (лексему нужно набирать в основной,
      словарной форме):
      <h3>тут фото</h3>
      В ответ на этот запрос Вы получите все словоформы, относящиеся к лексеме и входящие в Корпус.
      <h3>тут фото</h3>
      <h3>Расстояние между словами</h3>
      В графе «Расстояние» устанавливается нужное расстояние от первого слова до всех следующих (например, расстояние
      1–1 означает, что слово будет непосредственно справа от первого слова поиска, расстояние 1–2 – слово будет
      справа рядом или справа через одно слово, 2–2 – слово будет справа через одно слово от первого. Расстояние может
      быть отрицательным (например, -1 и -2). Если Вы ищете последовательность из трех слов, то в первой графе
      "Расстояние" нужно задать параметры 1-1, а во второй 2-2.
      <h3>тут фото</h3>
      </div>
      <h1>Классификация ошибок</h1>
      {% include 'help_table.html' %}
      <div class="border rounded p-3 mb-4">
      <h1>Как размечать?</h1>
      <h3>Начало работы</h3>
      <p>Чтобы приступить к разметке в корпусе RLC необходимо:</p>
      <ol>
        <li>Зайти на сайт под своим логином, кликнув на портрет в верхнем правом углу и
          заполнив поля логин/пароль в появившемся окне.
        </li>
        <li>Перейти в раздел “Аннотировать” и выбрать текст в нужном разделе. Первый
          номер перед названием текста означает его порядковый номер в данном
          разделе, второй номер – уникальный номер в базе данных.<br>
          <i><strong class="text-warning">NB!</strong> Поскольку тексты постоянно могут
            перемещаться из раздела в раздел
            и менять порядок, для указания текста используется его уникальный номер.</i>
        </li>
      </ol>
      <h3>Окно разметки</h3>
      <h3>тут фото</h3>
      <h3>Разметка</h3>
      <h3>тут фото</h3>
      </div>
      <div class="border rounded p-3 mb-4">
      <h1>Регистрация</h1>
      <h3>Что дает регистрация в корпусе?</h3>
      <p>Зарегистрировавшись в корпусе, вы сможете: </p>
      <ul>
        <li>добавлять в корпус новые тексты и информацию об авторах,</li>
        <li>получить доступ к полным текстам, а не только к результатам поиска с расширенным
          контекстом,
        </li>
        <li>добавлять тэги / комментарии / исправления к текстам,</li>
        <li>редактировать существующую разметку,</li>
        <li>размечать примеры непосредственно в поисковой выдаче,</li>
        <li>перейти от выдачи поиска к полным текстам,</li>
        <li>сохранять в свою учетную запись выбранные примеры.</li>
      </ul>
      <h3>Как зарегистрироваться</h3>
      <p>Чтобы получить доступ к необходимым вам функциям, нужно подать заявку на регистрацию в
        корпусе RLC, отправив письмо на адрес small.corpora@gmail.com с темой "Регистрация в
        RLC". Пожалуйста, укажите в письме причины, по которым вам необходим доступ в
        корпус.</p>
      <p>В течение нескольких дней вы получите ответ с вашим персональным логином и временным
        паролем для первого входа.</p>
      <h3>Что делать, если я забыл пароль</h3>
      <p>Если вы забыли пароль, отправьте письмо на адрес small.corpora@gmail.com с темой
        "Восстановление пароля в RLC". Пожалуйста, укажите в письме ваш логин. Если вы также не
        помните логин, достаточно просто написать нам с того же электронного адреса, с которым
        вы были зарегистрированы. </p>
      <p>В течение нескольких дней ваш пароль будет сброшен, и вы получите письмо с новым
        паролем.</p>
      </div>

    </main>

  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      setTimeout(function () {
        $('#menu .nav.flex-column.ms-1 li').css('visibility', 'visible');
      }, 200);
    });
  </script>
  <script>
    $(document).ready(function () {
      setTimeout(function () {
        $('#menu .nav.flex-column.ms-1 li').css('visibility', 'visible');
      }, 200);

      $('.collapse').on('show.bs.collapse', function () {
        $(this).prev().find('.arrow').html('&#9650;'); // arrow up
      });
      $('.collapse').on('hide.bs.collapse', function () {
        $(this).prev().find('.arrow').html('&#9660;'); // arrow down
      });
    });

  </script>

{% endblock %}
