<!-- search.html -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load templatetags %} <!-- load your pagination tags -->

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1>{% trans "Lexico-grammatical search" %}</h1>
        {% if form.errors %}
          <div class="alert alert-danger">
            {% for error in form.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <form method="get" class="mb-5">
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </form>

        {% if page_obj %}
          <h2>{% trans "Search results" %}</h2>
          <ul>
            {% for document in page_obj %}
              {% include 'document_card.html' %}
            {% endfor %}
          </ul>

          {% paginator page_obj request %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
