{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load templatetags %}
{% block head %}<script src="https://unpkg.com/htmx.org@latest/dist/htmx.min.js"></script>
{% endblock %}
{% block content %}
  <script src="{% static 'js/err_features.js' %}"></script>
  <script src="{% static 'js/lex.js' %}"></script>
  <script src="{% static 'js/gram.js' %}"></script>
  <script src="{% static 'js/err.js' %}"></script>
  <script src="{% static 'js/jquery_JSON.js' %}"></script>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h1>{% trans "Lexico-grammatical search" %}</h1>
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#subcorpus">
          <i class="fa-solid fa-magnifying-glass"></i>
            {% trans "Specify Subcorpus" %}
        </button>
        {% if form.errors %}
          <div class="alert alert-danger">
            {% for error in form.errors %}{{ error }}{% endfor %}
          </div>
        {% endif %}
        <div class="container">
          <script>
            function getLex(id) {
              $(`#lexModal-${id}`).modal('show');
            }
            function getGram(id) {
              $(`#gramModal-${id}`).modal('show');
            }
            function getErr(id) {
              $(`#errModal-${id}`).modal('show');
            }
          </script>
          <form method="post" class="mb-5 lexgram-form">
            {% csrf_token %}
            {% include 'partials/lexgram_subcorpus_form.html' %}
            <div class="row mb-3" data-block-id="{{ block_id }}">
              {% include 'partials/lexgram_form_content_based.html' %}
            </div>
            <div id="token-forms"></div>
            <button class="btn btn-success me-2 mt-2" id="add-token-form" hx-get="{% url 'get_search' %}"
                    hx-target="#token-forms" hx-swap="beforeend">
              <i class="fa-solid fa-plus"></i> {%  trans "Add Wordform" %}
            </button>
            <button type="submit" class="btn btn-secondary mt-2">{% trans "Submit" %}</button>
          </form>
        </div>
        {% if page_obj %}
          <h2>{% trans "Search results" %}</h2>
          <ul>
            {% for document in page_obj %}
              {% include 'document_card.html' %}
            {% endfor %}
          </ul>
          {% paginator page_obj request %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}