{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load templatetags %}

{% block title %}
  {% trans "Search" %}
{% endblock %}

{% block head %}
  <script src="{% static 'js/libs/htmx.min.js' %}"></script>
  <script src="{% static 'js/scripts/err_features.js' %}"></script>
{% endblock %}

{% block content %}
  <script src="{% static 'js/scripts/lexgram_utils.js' %}"></script>
  <script src="{% static 'js/scripts/lex.js' %}"></script>
  <script src="{% static 'js/scripts/gram.js' %}"></script>
  <script src="{% static 'js/scripts/err.js' %}"></script>
  <script src="{% static 'js/scripts/search_page_manager.js' %}"></script>

  <div class="container mt-5">
    <div class="row">
      <div class="col-9">
        <h1>{% trans "Exact search" %}</h1>
        <form id="exact-search-form" class="d-flex mb-3" method="get">
          <input class="form-control me-2 flex-grow-1" type="search" name="exact_forms"
                 placeholder="{% trans 'Exact search' %}" aria-label="{% trans 'Search' %}" id="exact-search-input">
          <button class="btn btn-success me-2 flex-shrink-0" type="submit">{% trans 'Search' %}</button>
        </form>

        <h1>{% trans "Lexico-grammatical search" %}</h1>

        <div class="modal fade" id="display-settings" tabindex="-1" role="dialog"
             aria-labelledby="display-settings-label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="display-settings-label">{% trans "Display Settings" %}</h5>
                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
              <div class="modal-body">
                <form id="display-settings-form">
                  {% include 'partials/search/display_settings.html' %}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="subcorpus" tabindex="-1" role="dialog" aria-labelledby="subcorpusLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="bi bi-x-lg"></i>
                  </span>
                </button>
                <h4 class="modal-title" id="subcorpusLabel"> {% trans "Subcorpus" %}</h4>
              </div>
              <div class="modal-body">
                <form id="subcorpus-form">
                  {% include 'partials/search/subcorpus_settings.html' %}
                </form>
              </div>
              <div class="modal-footer">
                <div class="me-auto">
                  <button type="button" class="btn btn-link" onclick="resetSubcorpusForm()">Clear</button>
                </div>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <form method="get" id="lexgram-form" class="mb-5 lexgram-form">
          <div class="container" data-block-id="{{ block_id }}">
            <div class="row mb-3" data-block-id="{{ block_id }}">
              {% include 'partials/lexgram/form_content_fixed.html' %}
            </div>
          </div>
          <div id="token-forms"></div>
          <button class="btn btn-primary me-2 mt-2" id="add-token-form" hx-get="{% url 'dynamic_lexgram_form' %}"
                  hx-target="#token-forms" hx-swap="beforeend">
            <i class="bi bi-plus-lg"></i> {% trans "Add Wordform" %}
          </button>
          <button type="submit" class="btn btn-success mt-2">{% trans "Search" %}</button>
        </form>
      </div>
      <div class="col-3">
        <div class="btn-group-vertical" role="group" aria-label="Search settings">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subcorpus">
            <i class="bi bi-filter"></i>
            {% trans "Specify Subcorpus" %}
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#display-settings">
            <i class="bi bi-search"></i>
            {% trans "Display Options" %}
          </button>
        </div>
      </div>
    </div>

    <div id="search-results-container">
      <!-- Search results will be displayed here -->
    </div>
  </div>
  <script>
    const toggleAll = (checkbox) => {
      const checkboxContainer = document.getElementById("dominant-language-checks");
      const checkboxes = checkboxContainer.querySelectorAll("input[type=checkbox]");
      if (checkbox.checked) {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = true;
        });
      } else {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = false;
        });
      }
    };

    const resetSubcorpusForm = () => {
      const subcorpusModal = document.getElementById("subcorpus");
      const modalBody = subcorpusModal.querySelector('.modal-body')

      fetch("/corpus/subcorpus_form/")
          .then(response => response.text())
          .then(data => {
            modalBody.innerHTML = '<form id="subcorpus-form">' + data + '</form>';
          });
    };

    function removeContainer(blockId) {
      const container = document.querySelector("[data-block-id=\"" + blockId + "\"]");
      container.remove();
    }

    function getLex(id) {
      $("#lexModal-" + id).modal("show");
    }

    function getGram(id) {
      $("#gramModal-" + id).modal("show");
    }

    function getErr(id) {
      $("#errModal-" + id).modal("show");
    }
  </script>
{% endblock %}
