{% extends 'base.html' %}

{% load i18n %}

{% block content %}
{% load templatetags %}
<!-- Template -->
<style>
  /* Hide the table initially */
  table {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  /* Show the table when it's in view */
  table.in-view {
    opacity: 1;
  }

  /* Hide the rows initially */
  table.in-view tbody tr {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  /* Show the rows one by one */
  table.in-view tbody tr.in-view {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(0.1s * var(--index));
  }
</style>

<script>
  // Wait for the page to load
  window.addEventListener('load', function() {
    // Get the table element
    const table = document.querySelector('table');

    // Check if an element is in view
    function checkInView(element) {
      const rect = element.getBoundingClientRect();
      const inView = (rect.top <= window.innerHeight) && (rect.bottom >= 0);
      return inView;
    }

    // Show the table and rows if they're in view
    function showTable() {
      if (checkInView(table)) {
        table.classList.add('in-view');
        const rows = table.querySelectorAll('tbody tr');
        rows.forEach((row, index) => {
          if (checkInView(row)) {
            row.classList.add('in-view');
            row.style.setProperty('--index', index);
          }
        });
        window.removeEventListener('scroll', showTable);
      }
    }

    // Check if the table is in view when the page loads
    showTable();

    // Check if the table is in view when the user scrolls
    window.addEventListener('scroll', showTable);
  });
</script>

<div style="font-family: Arial, sans-serif; font-size: 14px;">
  <h2 style="text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">Dominant Language Statistics</h2>
  <div style="margin: 0 auto; width: 80%;">
    <table style="border-collapse: collapse; width: 100%; margin-bottom: 20px; text-align: center;">
      <thead>
        <tr style="border-bottom: 2px solid #000;">
          <th style="padding: 10px 15px; font-weight: bold;">Dominant Language</th>
          <th style="padding: 10px 15px; font-weight: bold;">Texts Count</th>
          <th style="padding: 10px 15px; font-weight: bold;">Sentences Count</th>
        </tr>
      </thead>
      <tbody>
        {% for row in table_data %}
            <tr style="border-bottom: 1px solid #ddd;">
              {% for data in row %}
              <td style="padding: 10px 15px;">{{ data }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="accordion" style="margin-top: 4rem;">
  <div class="accordion-item">
    <h2 class="accordion-header" id="docs-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#docs-collapse" aria-expanded="false" aria-controls="docs-collapse">
        {% trans "Document static" %}
      </button>
    </h2>
    <div id="docs-collapse" class="accordion-collapse collapse" aria-labelledby="docs-heading">
      <div class="accordion-body">
        <div style="text-align: center;">
          <h1 style="font-size: 4rem;">{% trans "Total Documents" %} :</h1>
          <h1 style="font-size: 8rem; margin-bottom: 2rem;" id="total-docs-counter">{{ texts_count }}</h1>
        </div>
        <div style="display: flex; justify-content: center;">
          <div style="width: 60%; margin-right: 2rem;">
            <canvas id="text_types_chart"></canvas>
          </div>
          <div style="width: 40%;">
            <canvas id="gender_chart"></canvas>
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
          <div style="width: 60%; margin-right: 2rem;">
            <canvas id="genre_chart"></canvas>
          </div>
          <div style="width: 40%;">
            <canvas id="lang_background_chart"></canvas>
          </div>
        </div>
        <div style="text-align: center; margin-top: 4rem;">
          <h2 style="font-size: 2rem;">{% trans "Documents written by authors with dominant languages" %}:</h2>
          <div style="width: 80%; margin: 0 auto;">
            <canvas id="languagesChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" style="margin-top: 4rem;">
  <div class="accordion-item">
    <h2 class="accordion-header" id="sentences-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sentences-collapse" aria-expanded="false" aria-controls="sentences-collapse">
        {% trans "Sentence static" %}
      </button>
    </h2>
    <div id="sentences-collapse" class="accordion-collapse collapse" aria-labelledby="sentences-heading">
      <div class="accordion-body">
        <div style="text-align: center;">
          <h1 style="font-size: 4rem;">{% trans "Total sentences"%}:</h1>
          <h1 style="font-size: 8rem; margin-bottom: 2rem;" id="total-sentences-counter">{{ total_sentences }}</h1>
          <div style="text-align: center; margin-top: 4rem;">
            <h2 style="font-size: 2rem;">{% trans "Sentences written by authors with dominant languages" %}:</h2>
            <div style="width: 80%; margin: 0 auto;">
              <canvas id="lang_sent_chart"></canvas>
            </div>
          </div>
          <!-- Your sentence statistics and charts go here -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="accordion" style="margin-top: 4rem;">
  <div class="accordion-item">
    <h2 class="accordion-header" id="authors-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#authors-collapse" aria-expanded="false" aria-controls="authors-collapse">
        {% trans "Author statistics" %}
      </button>
    </h2>
    <div id="authors-collapse" class="accordion-collapse collapse" aria-labelledby="authors-heading">
      <div class="accordion-body">
        <div style="text-align: center;">
          <h1 style="font-size: 4rem;">{% trans "Total authors"%}:</h1>
          <h1 style="font-size: 8rem; margin-bottom: 2rem;" id="total-authors-counter">{{ total_authors }}</h1>
          <h1 style="font-size: 4rem; margin-bottom: 5rem;">{{ total_fav_authors }} of which are favorited:</h1>

          <div style="display: flex; justify-content: space-between;">
            <div style="width: 45%;">
              <canvas id="auth_gender_chart"></canvas>
            </div>
            <div style="width: 45%;">
              <canvas id="auth_lang_bg_chart"></canvas>
            </div>
          </div>
          <div style="text-align: center; margin-top: 4rem;">
            <h2 style="font-size: 2rem;">{% trans "Sentences written by authors with dominant languages" %}:</h2>
          </div>
          <div style="width: 80%; margin: 0 auto;">
            <canvas id="auth_lang_chart"></canvas>
          </div>
          <!-- Your sentence statistics and charts go here -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<script>

function animateCounter(counterId, targetAccordion) {
    let totalValue = parseInt(document.querySelector(counterId).textContent);
    const accordionButton = document.querySelector(targetAccordion);
    accordionButton.addEventListener('show.bs.collapse', () => {
        totalValue = parseInt(document.querySelector(counterId).textContent);
    });
   let speed = 5;
   if (totalValue > 100) {
      let counter = totalValue - 100;
    } else if (totalValue > 50) {
      let counter = 0;
      speed = 15;
    } else {
      let counter = 0;
      speed = 40;
    }

    const counterElement = document.querySelector(counterId);
    let intervalId = null;
    let isAccordionOpen = false;

    accordionButton.addEventListener('click', () => {
        if (accordionButton.getAttribute('aria-expanded') === 'true') {
            isAccordionOpen = true;
            clearInterval(intervalId);
            if (totalValue > 100) {
                counter = totalValue - 100;
            } else {
                counter = 0;
            }
            intervalId = setInterval(() => {
                counterElement.textContent = counter;
                counter++;
                if (counter > totalValue) {
                    clearInterval(intervalId);
                    counterElement.textContent = totalValue;
                }
            }, speed);
        } else {
            isAccordionOpen = false;
        }
    });
}

animateCounter('#total-docs-counter', '[data-bs-target="#docs-collapse"]');
animateCounter('#total-sentences-counter', '[data-bs-target="#sentences-collapse"]');
animateCounter('#total-authors-counter', '[data-bs-target="#authors-collapse"]');
var darkModeEnabled = localStorage.getItem('darkModeEnabled') === 'true';

if (darkModeEnabled) {
  console.log(darkModeEnabled)
}

var text_types_data = {
  labels: {{ labels|safe }},
  datasets: [{
    data: {{ text_types|safe }},
    backgroundColor: {{ colors|safe }}
  }]
};
var text_types_chart = new Chart(document.getElementById('text_types_chart'), {
  type: 'pie',
  data: text_types_data,
  options: {
  elements: {
    arc: {
      borderWidth: 4, // <-- Set this to derired value
      borderColor:'#212529'
    }
  },
    plugins: {
      title: {
        display: true,
        text: {% blocktrans %} "Texts annotated:" {% endblocktrans %}
      }
    }
  }
});

var genderLightColors = ['#636ee8', '#e07fe0', '#c9e8ff'];
var genderDarkColors = ['#8d46b5', '#e246a6', '#33a5ff'];

var genderChartColors = darkModeEnabled ? genderDarkColors : genderLightColors;

var gender_data = {
  labels: {{ gender_labels|safe }},
  datasets: [{
    data: {{ gender_counts|safe }},
    backgroundColor: genderChartColors
  }]
};
var gender_chart = new Chart(document.getElementById('gender_chart'), {
  type: 'pie',
  data: gender_data,
 options: {
  elements: {
    arc: {
      borderWidth: 4, // <-- Set this to derired value
      borderColor:'#212529'
    }
  },
    plugins: {
      title: {
        display: true,
        text: {% blocktrans %} "Gender ratio:" {% endblocktrans %}
      }
    }
  }
});

var genre_data = {
  labels: {{ genre_labels|safe }},
  datasets: [{
    data: {{ genre_counts|safe }},
    backgroundColor: ['#0F52BA', '#0072B5', '#1C3F95', '#265682', '#3A8FB7', '#3A99FF', '#36648B', '#4A7CAC', '#6CA6CD', '#9AC0DF', '#B0E0E6', '#C1E0E8',
     '#9575cd', '#673ab7', '#4a148c', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9400d3', '#ab47bc', '#ba68c8', '#ce93d8', '#d1c4e9', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6']
  }]
};
var genre_chart = new Chart(document.getElementById('genre_chart'), {
  type: 'bar',
  data: genre_data,
 options: {
    indexAxis: 'y',
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: {% blocktrans %} "Genre ratio:" {% endblocktrans %}
      }
    }
  }
});

var lang_background_data = {
  labels: {{ lang_background_labels|safe }},
  datasets: [{
    data: {{ lang_background_counts|safe }},
    backgroundColor: ['#c7417b', '#553772', '#1f306e']
  }]
};
var lang_background_chart = new Chart(document.getElementById('lang_background_chart'), {
  type: 'doughnut',
  data: lang_background_data,
 options: {
  elements: {
    arc: {
      borderWidth: 4, // <-- Set this to derired value
      borderColor:'#212529'
    }
  },
    plugins: {
      title: {
        display: true,
        text: {% blocktrans %} "Language background ratio" {% endblocktrans %}
      }
    }
  }
});


var languages_data = {
  labels: {{ languages_labels|safe }},
  datasets: [{
  label: {% blocktrans %}"Texts"{% endblocktrans %},
    data: {{ languages_counts|safe }},
    backgroundColor: ['#8a2be2', '#9400d3', '#483d8b', '#6a5acd', '#8b00ff', '#9c27b0', '#ab47bc', '#ba68c8', '#ce93d8', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6',
  '#d1c4e9', '#b39ddb', '#9575cd', '#7e57c2', '#673ab7', '#4a148c', '#5e35b1', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9c27b0', '#ab47bc', '#ba68c8', '#d1c4e9',
  '#b39ddb', '#673ab7', '#9400d3', '#483d8b', '#6a5acd', '#8b00ff', '#9c27b0', '#ab47bc', '#ba68c8', '#ce93d8', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6',
  '#d1c4e9', '#b39ddb', '#9575cd', '#7e57c2', '#673ab7', '#4a148c', '#5e35b1', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9c27b0', '#ab47bc', '#ba68c8', '#d1c4e9',
  '#b39ddb', '#673ab7', '#9400d3', '#8a2be2']

  }]
};
var languagesChart = new Chart(document.getElementById('languagesChart'), {
  type: 'bar',
  data: languages_data,
  options: {
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: false,
        text: {% blocktrans %} "Language ratio:" {% endblocktrans %}
      }
    }
  }
});





var lang_sent_data = {
  labels: {{ lang_sent_labels|safe }},
  datasets: [{
  label: {% blocktrans %} "Sentences" {% endblocktrans %},
    data: {{ lang_sent_counts|safe }},
    backgroundColor: ['#8a2be2', '#9400d3', '#483d8b', '#6a5acd', '#8b00ff', '#9c27b0', '#ab47bc', '#ba68c8', '#ce93d8', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6',
  '#d1c4e9', '#b39ddb', '#9575cd', '#7e57c2', '#673ab7', '#4a148c', '#5e35b1', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9c27b0', '#ab47bc', '#ba68c8', '#d1c4e9',
  '#b39ddb', '#673ab7', '#9400d3', '#483d8b', '#6a5acd', '#8b00ff', '#9c27b0', '#ab47bc', '#ba68c8', '#ce93d8', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6',
  '#d1c4e9', '#b39ddb', '#9575cd', '#7e57c2', '#673ab7', '#4a148c', '#5e35b1', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9c27b0', '#ab47bc', '#ba68c8', '#d1c4e9',
  '#b39ddb', '#673ab7', '#9400d3', '#8a2be2']

  }]
};
var lang_sent_chart = new Chart(document.getElementById('lang_sent_chart'), {
  type: 'bar',
  data: lang_sent_data,
  options: {
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: false,
        text: 'Языки, представленные в корпусе:'
      }
    }
  }
});



var auth_gender_data = {
  labels: {{ auth_gender_labels|safe }},
  datasets: [{
    data: {{ auth_gender_counts|safe }},
    backgroundColor: genderChartColors
  }]
};
var auth_gender_chart = new Chart(document.getElementById('auth_gender_chart'), {
  type: 'pie',
  data: auth_gender_data,
 options: {
  elements: {
    arc: {
      borderWidth: 4,
      borderColor:'#212529'
    }
  },
    plugins: {
      title: {
        display: true,
        text: {% blocktrans %} "Gender ratio:" {% endblocktrans %}
      }
    }
  }
});


var auth_lang_data = {
  labels: {{ auth_lang_labels|safe }},
  datasets: [{
  label: {% blocktrans %} "Authors" {% endblocktrans %},
    data: {{ auth_lang_counts|safe }},
    backgroundColor: ['#8a2be2', '#9400d3', '#483d8b', '#6a5acd', '#8b00ff', '#9c27b0', '#ab47bc', '#ba68c8', '#ce93d8', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6',
  '#d1c4e9', '#b39ddb', '#9575cd', '#7e57c2', '#673ab7', '#4a148c', '#5e35b1', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9c27b0', '#ab47bc', '#ba68c8', '#d1c4e9',
  '#b39ddb', '#673ab7', '#9400d3', '#483d8b', '#6a5acd', '#8b00ff', '#9c27b0', '#ab47bc', '#ba68c8', '#ce93d8', '#e1bee7', '#e8daef', '#f1e6fa', '#ede7f6',
  '#d1c4e9', '#b39ddb', '#9575cd', '#7e57c2', '#673ab7', '#4a148c', '#5e35b1', '#6a1b9a', '#7b1fa2', '#8e24aa', '#9c27b0', '#ab47bc', '#ba68c8', '#d1c4e9',
  '#b39ddb', '#673ab7', '#9400d3', '#8a2be2']

  }]
};
var auth_lang_chart = new Chart(document.getElementById('auth_lang_chart'), {
  type: 'bar',
  data: auth_lang_data,
  options: {
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: false,
        text: 'Языки, представленные в корпусе:'
      }
    }
  }
});

var auth_lang_bg_data = {
  labels: {{ auth_lang_bg_labels|safe }},
  datasets: [{
    data: {{ auth_lang_bg_counts|safe }},
    backgroundColor: ['#c7417b', '#553772', '#1f306e']
  }]
};
var auth_lang_bg_chart = new Chart(document.getElementById('auth_lang_bg_chart'), {
  type: 'doughnut',
  data: auth_lang_bg_data,
 options: {
  elements: {
    arc: {
      borderWidth: 4, // <-- Set this to derired value
      borderColor:'#212529'
    }
  },
    plugins: {
      title: {
        display: true,
        text: {% blocktrans %} "Language background ratio" {% endblocktrans %}
      }
    }
  }
});

</script>
{% endblock %}
