{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form method="post" id="add-document-form">
          {% csrf_token %}
          <h3 class="mb-3">{% trans "Add document" %}</h3>
          <div class="alert alert-danger" role="alert"
               style="display: {% if form.non_field_errors %}block{% else %}none{% endif %};">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.genre.label_tag }}
                {{ form.genre }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.subcorpus.label_tag }}
                {{ form.subcorpus }}
              </div>
            </div>
          </div>
          <div class="form-group mb-2">
            {{ form.body.label_tag }}
            {{ form.body }}
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.time_limit.label_tag }}
                {{ form.time_limit }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.oral.label_tag }}
                {{ form.oral }}
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
              <a class="nav-link active" id="add-author-tab" href="#" data-bs-toggle="tab"
                 data-bs-target="#author-fields">{% trans "New author" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="select-author-tab" href="#" data-bs-toggle="tab"
                 data-bs-target="#favorite-authors">{% trans "Saved author" %}</a>
            </li>
          </ul>
          <input type="hidden" id="author-selection-method" name="author_selection_method" value="manual">

          <div class="tab-content mb-4">
            {% include 'partials/document/author_card.html' %}
            <div class="form-group tab-pane fade" id="favorite-authors">
              <label for="search-author">{{ favorite_author_form.selected_author.label }}</label>
              <input type="text" class="form-control" id="search-author"
                     placeholder="{% trans "Search for saved authors..." %}">
              {{ favorite_author_form.selected_author.as_hidden }}
            </div>
          </div>

          <div class="form-group mb-4">
            {{ form.language_level.label_tag }}
            {{ form.language_level }}
          </div>
          <button type="submit" class="btn btn-lg btn-primary">{% trans "Add" %}</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    function disableFields(selector) {
      $(selector).find(':input').each(function () {
        $(this).prop('disabled', true);
      });
    }

    function enableFields(selector) {
      $(selector).find(':input').each(function () {
        $(this).prop('disabled', false);
      });
    }

    $(document).ready(function () {
      $("#add-author-tab").click(function () {
        $("#author-fields").addClass("active show");
        $("#favorite-authors").removeClass("active show");
        $("#add-author-tab").addClass("active");
        $("#select-author-tab").removeClass("active");
        $("#author-selection-method").val("manual");
        enableFields('#author-fields');
        disableFields('#favorite-authors');
      });

      $("#select-author-tab").click(function () {
        $("#author-fields").removeClass("active show");
        $("#favorite-authors").addClass("active show");
        $("#add-author-tab").removeClass("active");
        $("#select-author-tab").addClass("active");
        $("#author-selection-method").val("dropdown");
        enableFields('#favorite-authors');
        disableFields('#author-fields');
      });

      // Initially disable fields in the non-focused form
      disableFields('#favorite-authors');

      $("#add-document-form").submit(function (event) {
        // Check if the form is valid
        if (!this.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
      });

      {% if preselect_favorite_author %}
        $("#select-author-tab").click();
      {% endif %}
    });
    $(document).ready(function () {
      var authors = [
        {% for author in favorite_author_form.selected_author.field.queryset %}
          {
            value: "{{ author.pk }}",
            label: "{{ author }}"
          }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ];

      $("#search-author").autocomplete({
        minLength: 0,
        source: authors,
        select: function (event, ui) {
          $("#{{ favorite_author_form.selected_author.auto_id }}").val(ui.item.value);
          $(this).val(ui.item.label);
          event.preventDefault();
        }
      }).focus(function () {
        $(this).autocomplete("search", "");
      });
    });
  </script>
{% endblock %}