{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ document.title }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            {% if perms.corpus.change_document %}
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-group mb-0">
                  <label for="document-status" class="me-2">{% trans "Document status" %}</label>
                  <select class="form-select form-select-sm d-inline-block" id="document-status" style="width: auto;">
                    <option value="0" {% if document.status == 0 %}selected{% endif %}>{% trans "Not annotated" %}</option>
                    <option value="1" {% if document.status == 1 %}selected{% endif %}>{% trans "Annotated" %}</option>
                    <option value="2" {% if document.status == 2 %}selected{% endif %}>{% trans "Checked" %}</option>
                  </select>
                </div>
                <button id="hideIdsButton" class="btn btn-primary mb-3" data-trans="{% trans 'Hide IDs' %}">
                  <i id="buttonIcon" class="bi bi-eye-slash"></i>
                  <span id="buttonText">{% trans 'Hide IDs' %}</span>
                </button>
              </div>
            {% else %}
              <button id="hideIdsButton" class="btn mb-3" data-trans="{% trans 'Hide IDs' %}">
                <i id="buttonIcon" class="bi bi-eye-slash"></i>
                <span id="buttonText">{% trans 'Hide IDs' %}</span>
              </button>
            {% endif %}

            <style>
                #hideIdsButton {
                background-color: transparent;
                border: none inherit;
                color: inherit;
                padding: 0;
              }

              #hideIdsButton:hover {
                background-color: transparent;
                color: inherit;
                border-color: inherit;
              }
            </style>
          <script>
          $(document).ready(function () {

            function toggleIdsVisibility() {
              $('.id-style').toggle();
            }


            $('#hideIdsButton').click(function (event) {
              event.preventDefault();

              toggleIdsVisibility();

              const currentText = $('#buttonText').text();
              const buttonIcon = $('#buttonIcon');
              if (currentText === '{% trans "Hide IDs" %}') {
                $('#buttonText').text('{% trans "Show IDs" %}');
                buttonIcon.removeClass('bi-eye-slash').addClass('bi-eye');
                $(this).removeClass('btn-primary').addClass('btn-secondary');
                localStorage.setItem('hideIdsStatus', 'hidden');
              } else {
                $('#buttonText').text('{% trans "Hide IDs" %}');
                buttonIcon.removeClass('bi-eye').addClass('bi-eye-slash');
                $(this).removeClass('btn-secondary').addClass('btn-primary');
                localStorage.setItem('hideIdsStatus', 'shown');
              }
            });
            function applySavedVisibilityState() {
              const status = localStorage.getItem('hideIdsStatus');
              if (status === 'hidden') {
                toggleIdsVisibility();
                $('#buttonText').text('{% trans "Show IDs" %}');
                $('#buttonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
                $('#hideIdsButton').removeClass('btn-primary').addClass('btn-secondary');
              }
            }
            applySavedVisibilityState();
          });
        </script>

            {% include 'partials/document/document_card.html' with annotate_view=True %}
            {% for sentence in sentences %}
              {% include 'partials/document/sentence_card.html' with sentence=sentence %}
            {% endfor %}
            <p class="card-text"><small class="text-muted">{{ document.created_on }}</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 card card-body">
        <ul class="nav custom-nav" id="navContainer">
        </ul>
      </div>
      <script src="{% static 'js/scripts/err_features.js' %}"></script>
      <script>
        const navContainer = document.getElementById('navContainer');

        // Loop through each section in errFeatures
        for (const [category, errors] of errFeatures.entries()) {
          const categoryItem = document.createElement('li');
          categoryItem.textContent = category;

          const errorList = document.createElement('ul');

          // Loop through each subsection in the current section
          for (const [error, description] of errors.entries()) {
            const subsectionItem = document.createElement('li');

            const tooltip = document.createElement('i');
            tooltip.classList.add('bi', 'bi-question-circle');
            tooltip.setAttribute('data-bs-toggle', 'tooltip');
            tooltip.setAttribute('title', description);

            subsectionItem.textContent = `${error} `;
            subsectionItem.appendChild(tooltip);
            errorList.appendChild(subsectionItem);
          }

          categoryItem.appendChild(errorList);
          navContainer.appendChild(categoryItem);
        }
      </script>
    </div>
  </div>
  <script>
    $("#document-status").change(function () {
      let status = $(this).val();
      let documentId = "{{ document.id }}";
      let csrfToken = getCSRFToken();

      $.ajax({
        url: "{% url 'update_document_status' document.id %}",
        method: "POST",
        data: {
          'status': status,
          'csrfmiddlewaretoken': csrfToken,
        },
        success: function (data) {
          if (data.status === 'success') {
            console.log("Document status updated successfully.");
            // reload the page
            location.reload();
          } else {
            console.error("Error updating document status.");
          }
        },
        error: function () {
          console.error("Error updating document status.");
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });

    function updateCorrections(sentenceId) {
      const url = `/api/get_corrections/${sentenceId}`;

      $.ajax({
        type: "GET",
        url: url,
        success: function (response) {
          // Update the correction and alt_correction fields on the page
          const correction = response.correction;
          const altCorrection = response.alt_correction;

          $(`#correction-${sentenceId}`).text(correction);
          $(`#alt-correction-${sentenceId}`).text(altCorrection);
        },
        error: function (xhr, status, error) {
          console.error("Error updating corrections:", error);
        }
      });
    }

    function refreshCorrections() {
      {% for sentence in sentences %}
        updateCorrections({{ sentence.id }});
      {% endfor %}
    }


    document.addEventListener('DOMContentLoaded', function () {
      initRecogito(
          {% if perms.corpus.add_annotation %}true{% else %}false{% endif %},
          {% if user.is_authenticated %}true{% else %}false{% endif %}
      );
    });


    function getSentenceErrors(sentence_id) {
      const url = `/api/get_sentence_errors/${sentence_id}`;

      $.ajax({
        type: "GET",
        url: url,
        dataType: 'json',
        success: function (data) {
          const errors = data.errors;

          // Correctly define sentenceElement here before using it
          const sentenceElement = document.getElementById('sentence-' + sentence_id);
          const wordSpans = sentenceElement.getElementsByTagName('span');
          for (let i = 0; i < wordSpans.length; i++) {
            // If the span's text is in the errors array, add the "error" class
            if (errors.includes(wordSpans[i].innerText)) {
              wordSpans[i].classList.add('error');
            }
          }
        }
      });
    }


    $(document).ready(function () {
      {% for sentence in sentences %}
        getSentenceErrors({{ sentence.id }});
      {% endfor %}
    });
  </script>
{% endblock %}